!!!
html
  head
    title= 'Maia'
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    
    link(rel='stylesheet', href='/stylesheets/boilerplate.css')
    link(rel='stylesheet', href='/stylesheets/glow.css')
    
    script(type='text/javascript', src='/javascripts/lib/zepto.min.js')
    script(type='text/javascript')
      maia = {};
      $(function() {
        $(document.body).css({ height:600 });
        window.scrollTo(0,0);
        setTimeout(function() { $(document.body).css({ height:window.innerHeight }); }, 0);
        setTimeout(function() { $('.launchpad').addClass('out');$('.add_event').removeClass('out'); }, 1000);
        // $('#debug').text(window.innerHeight + ", " + $(document.body).height());
      });
  body
    .chart
      .date Today
    ul.launchpad.panel
      li.sleep
        label Sleep
        .action.add +
      li.eat
        label Eat
        .action.add +
      li.poop
        label Poop
        .action.add +
      li.notes
        label Notes
        .action.add +
    .add_event.panel.out
      label.sleep Sleep
      .action.ok Done
      .action.x Delete
      hr
