!!!
html
  head
    title= 'Maia'
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    
    link(rel='stylesheet', href='/stylesheets/boilerplate.css')
    link(rel='stylesheet', href='/stylesheets/clock.css')
    link(rel='stylesheet', href='/stylesheets/strip.css')
    link(rel='stylesheet', href='/stylesheets/glow.css')
    
    script(type='text/javascript', src='/javascripts/lib/zepto.min.js')
    script(type='text/javascript', src='/javascripts/lib/zepto_fx.js')// Hope to DEPR, but might be impossible
    script(type='text/javascript', src='/javascripts/lib/underscore-min.js')
    script(type='text/javascript', src='/javascripts/lib/backbone-min.js')
    script(type='text/javascript')
      maia = {};
    script(type='text/javascript', src='/javascripts/utils.js')
    script(type='text/javascript', src='/javascripts/ui.js')
    script(type='text/javascript', src='/javascripts/clock.js')
    script(type='text/javascript', src='/javascripts/strip.js')
    script(type='text/javascript', src='/javascripts/models.js')
    script(type='text/javascript', src='/javascripts/glow.js')
    script(type='text/javascript')
      $(function() {
        new maia.Glow();
        // $('.sleep .add').trigger('click');
      });
    script(type='text/javascript')
      $(function() {
        $(document.body).css({ height:600 });
        window.scrollTo(0,0);
        setTimeout(function() { $(document.body).css({ height:window.innerHeight }); }, 0);
        // setTimeout(function() { $('.launchpad').addClass('out');$('.event_editor').removeClass('out'); }, 1000);
        // $('#debug').text(window.innerHeight + ", " + $(document.body).height());
      });
  body.unselectable
    .chart
      .date Today
      .strip
    ul.launchpad.panel
      li.sleep
        label Sleep
          span.ing ing
        .action.ongoing
          .duration
          .pause ||
        .action.add +
      li.eat
        label Eat
        .action.add +
      li.poop
        label Excrete
        .action.add +
      li.notes
        label Notes
        .action.add +
    .event_editor.panel.out
      label
      .action.ok Done
      .action.x Delete
      hr
      
      //- div(style='text-align:right; padding-right:20px; padding-top:35px;')
      .clock
        .digits
        canvas.bg
        canvas.fg
        .start.handle
          img(src="/images/clock_handle_chrome.png", style="height:183px;")
          .thumb FROM
        .end.handle
          img(src="/images/clock_handle_chrome.png", style="height:183px;")
          .thumb UNTIL
        .time.handle
          img(src="/images/clock_nonrange_handle_chrome.png", style="height:183px;")
          .thumb TIME
        .cowl
        .label 12:34
      
      .start.field
        label FROM
        .t ###
        
      .end.field
        label UNTIL
        .t ###
