!!!
html
  head
    title= 'Maia'
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/maia.css')
    link(rel='stylesheet', href='/stylesheets/clock.css')
    link(rel='stylesheet', href='/stylesheets/strip.css')
    script(type='text/javascript', src='/javascripts/lib/zepto.min.js')
    script(type='text/javascript', src='/javascripts/lib/zepto_fx.js')
    script(type='text/javascript', src='/javascripts/lib/underscore-min.js')
    script(type='text/javascript', src='/javascripts/lib/backbone-min.js')
    script(type='text/javascript')
      maia = {};
    script(type='text/javascript', src='/javascripts/utils.js')
    script(type='text/javascript', src='/javascripts/ui.js')
    script(type='text/javascript', src='/javascripts/clock.js')
    script(type='text/javascript', src='/javascripts/strip.js')
    script(type='text/javascript', src='/javascripts/models.js')
    script(type='text/javascript', src='/javascripts/dashboard.js')
    script(type='text/javascript')
      $(document).ready(function() {
        new maia.Dashboard( $('.dashboard') );
        // $('.sleep .add').trigger('click');
      });
  body
    .dashboard.unselectable
      .date Today
      ul.events
        div.strip
        li.sleep
          label Sleep
            span.ing.supressed ing
            span.d.supressed
          .action.add +
          .action.minz.supressed ^
          .action.ok.supressed ✓
          .action.x.supressed x
          .space.closed(style='max-height:260px; overflow:hidden; position:relative;')
            .add_event.closed
          
              div(style='text-align:right; padding-right:20px; padding-top:35px;')
                .clock
                  .digits
                  canvas.bg
                  canvas.fg
                  .end.handle
                    .inner
                  .start.handle
                    .inner
                  .label 12:34
              
              .start.field
                label from
                em.t ###
                div
                  span(data-minutes="-5") -5min
                  span(data-minutes="+5") +5min
                
              .end.field
                label until
                em.t ###
                div
                  span(data-minutes="-5") -5min
                  span(data-minutes="+5") +5min
        li.cry
          label Cry(ing)
          .action.add +
        li.notes
          label Notes
          .action.add +
