.clock { 
  position: relative;
  display:inline-block;
  width:200px;
  height:200px;
}

.clock canvas {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.clock canvas.fg {
  position:absolute;
}

.clock .digits > div {
  position:absolute;
  text-align:center;
  color:#ddd;
  font-weight:bold;
  font-size:20px;
  font-family: garamond;
  letter-spacing:-2px;
}

.clock .label {
  opacity:0;
  -webkit-transition: opacity 1s ease-in;
  position:absolute;
  background-color:#000;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:0px 4px;
  white-space:nowrap;
  font-variant:small-caps;
  z-index:10;
}

.clock.dragged .label {
  opacity:1;
  -webkit-transition: opacity .3s linear;
}

.clock .handle {
  content:'.';
  position:absolute;
  left:0;
  top:0;
  width:44px;
  height:44px;
/*  background-color:#fcc;*/
}

.clock .handle .inner {
  position:absolute;
  top:8px;
  bottom:8px;
  left:8px;
  right:8px;
  border:1px solid #00a;
  background-color:#fff;
  pointer-events: none;
}

.clock .start.handle .inner {
  border-radius:15px 0 0 15px;
}

.clock .end.handle .inner {
  border-radius:0 15px 15px 0;
}

.clock .start.handle {
  border-radius:20px 0 0 20px;
  -webkit-transform-origin:36px 8px; /* 37px = 28px(width) + 8px(bleed) */
  margin-left:-36px;
  margin-top:-8px
}

.clock .end.handle {
  border-radius:0 20px 20px 0;
  -webkit-transform-origin:9px 8px; /* 9px = 1px(border) + 8px(bleed) */
  margin-left:-9px;
  margin-top:-8px;
}