.clock { 
  position: relative;
  display:inline-block;
  width:200px;
  height:200px;
}

.clock canvas {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.clock canvas.fg {
  position:absolute;
}

.clock .handle {
  content:'.';
  position:absolute;
  left:0;
  top:0;
  width:38px;
  height:38px;
}

.clock .handle .inner {
  position:absolute;
  top:5px;
  bottom:5px;
  left:5px;
  right:5px;
  border:1px solid #00a;
  background-color:#fff;
  pointer-events: none;
}

.clock .start.handle .inner {
  border-radius:15px 0 0 15px;
}

.clock .end.handle .inner {
  border-radius:0 15px 15px 0;
}

.clock .start.handle {
  border-radius:20px 0 0 20px;
  -webkit-transform-origin:34px 5px; /* 34px = 30px(width) - 1px(border) + 5px(bleed) */
  margin-left:-34px;
  margin-top:-5px
}

.clock .end.handle {
  border-radius:0 20px 20px 0;
  -webkit-transform-origin:6px 5px; /* 6px = 1px(border) + 5px(bleed) */
  margin-left:-6px;
  margin-top:-5px;
}