body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
em{font-style:normal;}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
object{outline:0 none;display:block}

body {
  padding:0;
  font:16px/1.5 Helvetica,Arial,"Lucida Grande","Lucida Sans",Tahoma,Verdana,sans-serif;
  height:480px;/* TEMP */
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.dashboard .date {
  font-size:32px;
  border-bottom:1px solid #999;
  padding:8px 0 0 12px;
}

.events li {
  border-bottom:1px dotted #999;
  position:relative;
}

.events li > label {
  padding:14px 0px;
  display:inline-block;
}

@-webkit-keyframes pulsate {
 0% {
   opacity: 0;
 }
 35% {
   opacity: 1;
 }
 100% {
   opacity: 0;
 }
}
.events li > label .ing {
/*  color:#c00;*/
  font-weight:bold;
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count:infinite;
}
.events li > label .ing.supressed {
  opacity:0;
  -webkit-animation-name: none;
}

.events li > label .d {
  padding-left:6px;
  opacity:1;
}
.events li > label .d.supressed {
  opacity:0;
}

.events li .action {
  position:absolute;
  right:0;
  top:0;
  font-weight:bold;
  font-size:40px;
  line-height:18px;
  margin-top:14px;
  margin-right:5px;
  opacity:1;
  -webkit-transition:all .5s linear;
  -webkit-transition-delay:.3s;
}

.events li .minz.action {
  padding-top:10px;
}

.events li .ok.action {
  padding-top:6px;
  padding-right:2px;
  font-size:30px;
}


.events li .action.supressed {
  opacity:0;
  pointer-events:none;
  -webkit-transition:all .2s linear;
}

.events .add_event {
/*  border-top:1px dotted #aaa;*/
  position:relative;
  margin-top:0;
  height:260px;
}

.events .space.closed {
  height:0px;
  -webkit-transition:all .6s ease-in-out;
}
.events .space.open {
  height:260px;
  -webkit-transition:all .6s ease-in-out;
}

.events .add_event.closed {
  opacity:-.5;
}
.events .add_event.open {
  -webkit-transition:all 1s ease-in-out;
  opacity:1;
}

.events .add_event.incoming {
  margin-top:-260px;
}


.events .add_event .field {
  position:absolute;
}
.events .add_event .start.field {
  left:5px;
  top:5px;
}
.events .add_event .end.field {
  left:5px;
  bottom:88px;
}

.events .add_event span {
  vertical-align:middle;
  display:inline-block;
  font-size:12px;
  width:40px;
  line-height:32px;
  border-radius:6px;
  margin:0 2px;
  text-align:center;
  border:1px solid #00a;
}

.events .add_event span.disabled {
  opacity:.1;
}

.events .add_event .t {
  font-variant:small-caps;
  font-style:normal;
  text-align:center;
  font-size:14px;
  display:block;
  line-height:26px;
}

.events .add_event .t em {
  font-size:24px;
}


.events .field label {
  font-variant:small-caps;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  line-height:15px;
  display:block;
/*  color:#888;*/
}