.strip {
/*  border-bottom:1px solid #333;*/
  height:26px;
  position:relative;
  overflow:hidden;
}

.strip .seg {
  height:10px;
  background-color:rgba(0,0,170,.3);/*rgba(0,0,0,.6);*/
  top:0;
  position:absolute;
}

.strip .seg.current {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:infinite;
}

.strip .legend {
  position: absolute;
  top: 7px;
  border-top: 1px solid #000;
  left: 0;
  right: 0;
  z-index:1;
  opacity:.5;
}

.strip .legend .tick {
  font-size:10px;
  border-left:1px solid #555;
  height:6px;
  padding-left:2px;
}

@-webkit-keyframes glow {
 0% {
   opacity: .85;
 }
 50% {
   opacity: 1;
 }
 100% {
   opacity: .85;
 }
}
